@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
   Упрощаем работу с изображениями и видео
  */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
  outline: none;
  border: unset;
}

html {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  height: 100%;
  /**
     Убираем скачок интерфейса по горизонтали
     при появлении / исчезновении скроллбара
    */
  scrollbar-gutter: stable;
}

/**
   Плавный скролл
  */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  min-height: 100%;
  /**
     Унифицированный интерлиньяж
    */
  line-height: 1.5;
}

/**
   Нормализация высоты элемента ссылки при его инспектировании в DevTools
  */
a:where([class]) {
  display: inline-flex;
}

/**
   Курсор-рука при наведении на элемент
  */
button,
label {
  cursor: pointer;
}

/**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут fill со значением 'none' или начинается с 'url')
  */
svg:not([class]) :where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут stroke со значением 'none')
  */
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  transition-property: fill, stroke;
}

/**
   Приведение рамок таблиц в классический 'collapse' вид
  */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*Делаем гибкий текст с динамическим изменением размером шрифта*/
/*Флекс-центрирование*/
/*Абсолютное центрирование*/
@font-face {
  font-family: "Space Grotesk";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SpaceGrotesk-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Space Grotesk";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/SpaceGrotesk-Medium.woff2") format("woff2");
}
:root {
  /*colors*/
  --c-main: #B9FF66;
  --c-black: black;
  --c-dark: #191A23;
  --c-dark-alt: #292A32;
  --c-gray: #F3F3F3;
  --c-gray-lt: #BDBDBD;
  --c-grey-alt: #898989;
  --c-light: white;
  /*border radiuses*/
  --b-radius-s: 8px;
  --b-radius-m: 14px;
  --b-radius-l: 45px;
  /*fonts*/
  --font-base: "Space Grotesk", sans-serif;
  --fz-link: 20px;
  /*containers*/
  --container-width: 1340px;
  --container-padding-x: 20px;
  --section-padding-y: 70px;
  --border: 1px solid #191A23;
  --shadowDown: 0 5px 0 var(--c-dark);
  /*button and input heights*/
  --btn-height: 68px;
  --input-height: 59px;
  /*optimal transition-duration*/
  --trans-duration: 0.25s;
}
@media (max-width: 1280px) {
  :root {
    --section-padding-y: 50px;
  }
}
@media (max-width: 768px) {
  :root {
    --section-padding-y: 30px;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (max-width: 768px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(16px, 1.25vw, 18px);
  font-family: var(--font-base);
  font-weight: 400;
  line-height: 1.4;
  background-color: var(--c-light);
  color: var(--c-black);
}

input,
button,
a,
textarea,
svg * {
  transition-duration: var(--trans-duration);
}

cite {
  font-style: normal;
}

h1, h2, h3, h4 {
  font-weight: 500;
  line-height: 1.1;
}

h1 {
  font-size: clamp(43px, 4.1666666667vw, 60px);
}
@media (max-width: 430px) {
  h1 {
    font-size: clamp(38px, 4.1666666667vw, 60px);
  }
}

h2 {
  font-size: clamp(36px, 2.7777777778vw, 40px);
}

h3 {
  font-size: clamp(26px, 2.0833333333vw, 30px);
}

h4 {
  font-size: clamp(18px, 1.3888888889vw, 20px);
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--btn-height);
  border-radius: var(--b-radius-m);
  color: var(--c-light);
  background-color: var(--c-dark);
  padding-inline: 35px;
  border: var(--border);
  font-size: var(--fz-link);
}
.button--transparent {
  color: var(--c-dark);
  background-color: transparent;
}
@media (hover: hover) {
  .button:hover {
    background-color: var(--c-main);
    color: var(--c-dark);
  }
}
@media (hover: none) {
  .button:active {
    background-color: var(--c-main);
    color: var(--c-dark);
  }
}

.burger-button {
  height: 48px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 8px;
  padding: 10px;
}
.burger-button span:not(.visually-hidden) {
  height: 2px;
  width: 100%;
  border-radius: 4px;
  background-color: var(--c-black);
}

.section {
  padding-block: var(--section-padding-y);
}
.section__header {
  display: flex;
  align-items: center;
  column-gap: 40px;
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  .section__header {
    flex-direction: column;
    row-gap: 30px;
    margin-bottom: 40px;
    text-align: center;
  }
}
.section__description {
  max-width: 580px;
}

.welcome {
  display: flex;
  flex-direction: column;
  row-gap: var(--section-padding-y);
}
.welcome__main {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .welcome__main {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 430px) {
  .welcome__main {
    align-items: stretch;
  }
}
.welcome__title {
  max-width: 8.85em;
}
@media (max-width: 768px) {
  .welcome__title {
    order: -1;
    margin-bottom: 10px;
  }
}
.welcome__content {
  max-width: 531px;
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  align-items: start;
}
@media (max-width: 768px) {
  .welcome__content {
    display: contents;
  }
}
.welcome__image {
  max-height: fit-content;
}
@media (max-width: 1280px) {
  .welcome__image {
    max-width: 40%;
  }
}
@media (max-width: 768px) {
  .welcome__image {
    order: -1;
    max-width: 100%;
  }
}
.welcome__description {
  max-width: 25.05em;
  font-size: var(--fz-link);
}
@media (max-width: 1280px) {
  .welcome__description {
    font-size: clamp(16px, 1.3888888889vw, 20px);
  }
}
@media (max-width: 768px) {
  .welcome__description {
    max-width: 100%;
    margin-bottom: 40px;
  }
}
.welcome__partners {
  max-width: 100%;
  /*sas*/
}
.welcome__partners-item {
  max-width: 100%;
}

@media (max-width: 768px) {
  .studies {
    padding-right: 0;
    overflow-x: auto;
  }
}
.studies__list {
  background-color: var(--c-dark);
  border-radius: var(--b-radius-l);
  padding: 70px 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1280px) {
  .studies__list {
    padding: 45px;
  }
}
@media (max-width: 768px) {
  .studies__list {
    padding: 0;
    background-color: transparent;
    column-gap: 20px;
    grid-template-columns: repeat(3, 350px);
  }
}
.studies__item {
  --paddingX: 60px;
  color: var(--c-light);
}
@media (max-width: 1280px) {
  .studies__item {
    --paddingX: 30px;
  }
}
@media (max-width: 768px) {
  .studies__item {
    background-color: var(--c-dark);
    border-radius: var(--b-radius-l);
    padding: 45px 50px;
  }
}
.studies__item:not(:last-child) {
  padding-right: var(--paddingX);
  border-right: var(--border);
  border-color: currentColor;
}
.studies__item:not(:first-child) {
  padding-left: var(--paddingX);
}
.studies__description {
  margin-bottom: 20px;
  max-width: 286px;
}
.studies__link {
  color: var(--c-main);
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.working-process__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  counter-reset: process-counter;
  list-style: none;
}
@media (max-width: 768px) {
  .working-process__list {
    row-gap: 20px;
  }
}
.working-process__item {
  --customCounter: counter(process-counter);
  counter-increment: process-counter;
}
.working-process__item:nth-child(-n+9) {
  --customCounter: "0" counter(process-counter);
}
.working-process__accordion {
  --indicatorOpenedRotate: 90deg;
  transition: var(--trans-duration) background;
  padding: 40px 60px;
  background-color: var(--c-gray);
  border-radius: var(--b-radius-l);
  border: var(--border);
  box-shadow: var(--shadowDown);
}
@media (max-width: 768px) {
  .working-process__accordion {
    padding: 30px;
  }
}
.working-process__accordion[open] {
  --indicatorOpenedRotate: 0;
  background-color: var(--c-main);
}
.working-process__accordion:hover {
  background-color: var(--c-main);
}
.working-process__accordion-header {
  display: flex;
  justify-content: space-between;
}
.working-process__accordion-body {
  padding-top: 30px;
  margin-top: 30px;
  border-top: var(--border);
  max-width: 90%;
}
.working-process__accordion-title {
  display: flex;
  align-items: center;
}
.working-process__accordion-title::before {
  content: var(--customCounter);
  font-size: 2em;
  margin-right: 0.5em;
}
@media (max-width: 768px) {
  .working-process__accordion-title {
    font-size: 18px;
  }
}
.working-process__accordion-indicator {
  --indicatorSize: 58px;
  height: var(--indicatorSize);
  aspect-ratio: 1;
  position: relative;
  background-color: var(--c-gray);
  border-radius: 50%;
  border: var(--border);
}
@media (max-width: 768px) {
  .working-process__accordion-indicator {
    --indicatorSize: 30px;
  }
}
.working-process__accordion-indicator::after, .working-process__accordion-indicator::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 40%;
  height: 12%;
  background-color: var(--c-black);
  transition: var(--trans-duration) rotate;
}
.working-process__accordion-indicator::after {
  rotate: var(--indicatorOpenedRotate);
}

.team {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.team__list {
  --gridColumns: 3;
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
}
@media (max-width: 768px) {
  .team__list {
    gap: 30px;
  }
}
@media (max-width: 1280px) {
  .team__list {
    --gridColumns: 2;
  }
}
@media (max-width: 768px) {
  .team__list {
    --gridColumns: 1;
  }
}
@media (max-width: 768px) {
  .team__item:nth-child(n+4) {
    display: none;
  }
}
.team__button {
  width: 100%;
  max-width: 269px;
  align-self: flex-end;
}
@media (max-width: 768px) {
  .team__button {
    align-self: center;
  }
}
@media (max-width: 430px) {
  .team__button {
    max-width: 100%;
  }
}

.reviews {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.reviews__pagination {
  max-width: 565px;
  width: 100%;
  align-self: center;
}
.reviews__slider {
  overflow-x: hidden;
}

.services__list {
  --gridColumns: 2;
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
}
@media (max-width: 768px) {
  .services__list {
    gap: 30px;
  }
}
.services__list:not(:last-child) {
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .services__list:not(:last-child) {
    margin-bottom: 70px;
  }
}
@media (max-width: 1024px) {
  .services__list {
    --gridColumns: 1;
  }
}

.menu-window {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
}
.menu-window:modal {
  max-width: 100%;
  max-height: 100%;
}
.menu-window__inner {
  transition: var(--trans-duration) translate;
  translate: 0 -100vh;
  height: 100%;
  padding-block: 20px;
  width: 100%;
  background-color: var(--c-light);
  display: flex;
  flex-direction: column;
}
.menu-window__inner--opened {
  translate: 0;
}
.menu-window__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0.7;
  font-size: var(--fz-link);
}
.menu-window__menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.menu-window__close-wrapper {
  display: flex;
  justify-content: flex-end;
}
.menu-window__close-button {
  height: 48px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.menu-window__close-button::before, .menu-window__close-button::after {
  content: "";
  position: absolute;
  height: 2px;
  width: calc(100% - 18px);
  border-radius: 4px;
  background-color: var(--c-black);
}
.menu-window__close-button::before {
  rotate: 45deg;
}
.menu-window__close-button::after {
  rotate: -45deg;
}

.header {
  padding-top: 40px;
}
@media (max-width: 1280px) {
  .header {
    padding-top: 30px;
  }
}
@media (max-width: 768px) {
  .header {
    padding-top: 20px;
  }
}
@media (max-width: 1280px) {
  .header__logo {
    max-width: 120px;
  }
}
@media (max-width: 1024px) {
  .header__logo {
    max-width: 110px;
  }
}
@media (max-width: 768px) {
  .header__logo {
    max-width: 144px;
  }
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}
@media (max-width: 1024px) {
  .header-inner {
    column-gap: 20px;
  }
}
.header__menu {
  font-size: var(--fz-link);
  margin-left: auto;
}
@media (max-width: 1280px) {
  .header__menu {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .header__menu {
    font-size: 16px;
  }
}
.header__menu-list {
  display: flex;
  column-gap: 40px;
}
@media (max-width: 1280px) {
  .header__menu-list {
    column-gap: 30px;
  }
}
@media (max-width: 1024px) {
  .header__menu-list {
    column-gap: 20px;
  }
}
.header__menu-link {
  padding-block: 14px;
  position: relative;
}
.header__menu-link::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  top: 100%;
  height: 1px;
  width: 0px;
  background-color: var(--c-dark);
  border-radius: 3px;
  transition: var(--trans-duration) width;
}
@media (hover: hover) {
  .header__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__menu-link:active::after {
    width: 100%;
  }
}
@media (max-width: 1280px) {
  .header__button {
    height: 48px;
    padding-inline: 20px;
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .header__button {
    font-size: 16px;
    padding-inline: 15px;
    height: 42px;
    border-radius: var(--b-radius-s);
  }
}

.service-card {
  padding: 50px;
  min-height: 310px;
  border-radius: var(--b-radius-l);
  border: var(--border);
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  background-color: var(--c-gray);
  box-shadow: var(--shadowDown);
}
@media (max-width: 768px) {
  .service-card {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 430px) {
  .service-card {
    padding: 38px;
  }
}
.service-card__body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (max-width: 768px) {
  .service-card__body {
    display: contents;
  }
}
.service-card__title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media (max-width: 768px) {
  .service-card__title {
    grid-column: 1/-1;
  }
}
@media (max-width: 1280px) {
  .service-card__image {
    max-width: 38%;
  }
}
@media (max-width: 768px) {
  .service-card__image {
    max-width: 165px;
  }
}
.service-card__link {
  display: flex;
  align-items: center;
  column-gap: 15px;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .service-card__link {
    align-self: flex-end;
  }
}
@media (max-width: 768px) {
  .service-card__link span {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
.service-card__link-icon-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 41px;
  aspect-ratio: 1;
  transition: var(--trans-duration) rotate;
  border-radius: 50%;
  background-color: var(--c-dark);
}
@media (hover: hover) {
  .service-card__link:hover .service-card__link-icon-wrapper {
    rotate: 29deg;
  }
}
@media (hover: none) {
  .service-card__link:active .service-card__link-icon-wrapper {
    rotate: 29deg;
  }
}
.service-card--green .puddle, .service-card--black .puddle {
  background-color: var(--c-light);
}
.service-card--green {
  background-color: var(--c-main);
}
.service-card--black {
  background-color: var(--c-dark);
}
.service-card--black .service-card__link {
  color: var(--c-light);
}
.service-card--black .service-card__link-icon-wrapper {
  background-color: var(--c-light);
  color: var(--c-dark);
}
.service-card--black .service-card__link-icon-wrapper path {
  fill: currentColor;
}

.team-card {
  border-radius: var(--b-radius-l);
  border: var(--border);
  box-shadow: var(--shadowDown);
  padding: 40px 35px;
  min-height: 330px;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 28px;
}
.team-card__header {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  padding-bottom: 28px;
  border-bottom: var(--border);
}
.team-card__info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.team-card__person {
  flex-shrink: 0;
}
.team-card__title {
  font-size: clamp(18px, 1.3888888889vw, 20px);
}
.team-card__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  aspect-ratio: 1;
  align-self: flex-end;
  border-radius: 50%;
  background-color: var(--c-dark);
}
.team-card:nth-child(2n) {
  display: none;
}

.review-card {
  border-radius: var(--b-radius-l);
  padding: 40px 50px;
  background-color: var(--c-dark);
  min-height: 327px;
  color: var(--c-light);
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
@media (max-width: 1024px) {
  .review-card {
    padding: 40px;
  }
}
.review-card__author, .review-card__company {
  display: block;
}
.review-card__author {
  color: var(--c-main);
  font-size: clamp(18px, 1.3888888889vw, 20px);
}
.review-card__company {
  color: var(--c-grey-alt);
}

.banner {
  --padding: 60px;
  --offsetBlock: 24px;
  padding-block: var(--offsetBlock);
}
@media (max-width: 1024px) {
  .banner {
    --padding: 50px;
    padding: unset;
  }
}
@media (max-width: 430px) {
  .banner {
    --padding: 38px;
  }
}
.banner__inner {
  background-color: var(--c-gray);
  border-radius: var(--b-radius-l);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-left: var(--padding);
}
@media (max-width: 1024px) {
  .banner__inner {
    padding: var(--padding);
  }
}
.banner__body {
  padding-block: var(--padding);
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  align-items: flex-start;
}
@media (max-width: 1024px) {
  .banner__body {
    padding-block: 0;
  }
}
@media (max-width: 430px) {
  .banner__body {
    align-items: stretch;
  }
}
.banner__description {
  max-width: 27.7777777778em;
}
.banner__image {
  margin-block: calc(var(--offsetBlock) * -1);
}
@media (max-width: 1024px) {
  .banner__image {
    display: none;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}
.pagination__list {
  display: flex;
}
.pagination__item-button {
  color: var(--c-gray-lt);
  transition: var(--trans-duration), color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  aspect-ratio: 1;
}
.pagination__item--active button {
  color: var(--c-main);
}
.pagination__button {
  height: 40px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;
  border: unset;
  padding: unset;
  color: var(--c-grey-alt);
}

.puddle {
  padding-inline: 8px;
  border-radius: var(--b-radius-s);
  background-color: var(--c-main);
}/*# sourceMappingURL=styles.css.map */