$desktop: 1280px;
$tablet: 1024px;
$mobile: 768px;
$mobile-above: $mobile + 1px;

$mobile-m: 430px;

@mixin desktop {
    @media (max-width: $desktop) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet) {
        @content;
    }
}

@mixin mobile-above {
    @media (min-width: $mobile-above) {
        @content;
    }
}
@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin mobile-m {
    @media (max-width: $mobile-m) {
        @content;
    }
}

@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    @media (hover: none) {
        &:active {
            @content;
        }
    }
}