$layout-width: 1440;

/*Делаем гибкий текст с динамическим изменением размером шрифта*/
@mixin fluid-text($min, $max) {
    font-size: clamp(#{$min}px, #{$max / $layout-width * 100}vw, #{$max}px);
}

@mixin fluid-width($fmaxsize, $maxWidth) {
    max-width: #{$maxWidth/$fmaxsize}em;
}
/*Флекс-центрирование*/
@mixin flex-center($isInline: false) {
    @if $isInline {
        display: inline-flex;
    } @else {
        display: flex;
    }
    justify-content: center;
    align-items: center;
}

/*Абсолютное центрирование*/
@mixin abs-center() {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@mixin square($size) {
    height: $size;
    aspect-ratio: 1;
}