/*Делаем гибкий текст с динамическим изменением размером шрифта*/
@mixin fluid-text($min, $max) {
    font-size: clamp(#{$min}px, #{$max / $layout-width * 100}vw, #{$max}px);
}

@mixin fluid-width($fmaxsize, $maxWidth) {
    max-width: #{$maxWidth/$fmaxsize}em;
}
/*Флекс-центрирование*/
@mixin flex-center($isInline: false) {
    @if $isInline {
        display: inline-flex;
    } @else {
        display: flex;
    }
    justify-content: center;
    align-items: center;
}

/*Абсолютное центрирование*/
@mixin abs-center() {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@mixin grid($columns: 2) {
    --gridColumns: #{$columns};
    gap: 40px;
    display: grid;
    grid-template-columns: repeat(var(--gridColumns), 1fr);

    @include mobile {
        gap: 30px;
    }
}

@mixin square($size) {
    height: $size;
    aspect-ratio: 1;
}

@mixin visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@mixin scrollbar-hidden {
    &::-webkit-scrollbar {
        display: none;
    }
}