$layout-width: 1440;
$fz-h1: 60;
$fz-h2: 40;
$fz-h3: 30;
$fz-h4: 20;
$fz-p: 18;

:root {
    /*colors*/
    --c-main: #B9FF66;
    --c-black: black;
    --c-dark: #191A23;
    --c-dark-alt: #292A32;
    --c-gray: #F3F3F3;
    --c-grey-alt: #898989;
    --c-light: white; 
    
    /*border radiuses*/
    --b-radius-s: 8px;
    --b-radius-m: 14px;
    --b-radius-l: 45px;

    /*fonts*/
    --font-base: "Space Grotesk", sans-serif;
    --fz-link: 20px;

    /*containers*/
    --container-width: 1340px;
    --container-padding-x: 20px;
    --section-padding-y: 70px;

    --border: 1px solid #191A23;
    --shadowDown: 0 5px 0 var(--c-dark);

    /*button and input heights*/
    --btn-height: 68px;
    --input-height: 59px;

    /*optimal transition-duration*/
    --trans-duration: 0.25s;

    @include desktop {
        --section-padding-y: 50px;
    }
    @include mobile {
        --section-padding-y: 30px;
    }

}

