:root {
    /*colors*/
    --c-main: #B9FF66;
    --c-black: black;
    --c-dark: #191A23;
    --c-dark-alt: #292A32;
    --c-gray: #F3F3F3;
    --c-grey-alt: #898989;
    --c-light: white; 
    
    /*border radiuses*/
    --b-radius-s: 8px;
    --b-radius-m: 14px;
    --b-radius-l: 45px;

    --font-base: "Space Grotesk", sans-serif;
    
    /*containers*/
    --container-width: 1234px;
    --container-padding-x: 20px;
    --section-padding-y: 70px;

    --border: 1px solid #191A23;

    /*button and input heights*/
    --btn-height: 68px;
    --input-height: 59px;

    /*optimal transition-duration*/
    --trans-duration: 0.25s;

}