.reviews {
    display: flex;
    flex-direction: column;
    row-gap: 25px;

    &__pagination {
        max-width: 565px;
        width: 100%;
        align-self: center;
    }

    &__slider {
        overflow-x: hidden;
    }
}