.section {
    padding-block: var(--section-padding-y);
    &__header {
        display: flex;
        align-items: center;
        column-gap: 40px;
        margin-bottom: 80px;
        @include mobile {
            flex-direction: column;
            row-gap: 30px;
            margin-bottom: 40px;
            text-align: center;
        }
    }
    &__description {
        max-width: 580px;
    }
    
}
