.services {
    &__list {
        @include grid(2);
        &:not(:last-child) {
            margin-bottom: 100px;
            @include mobile {
                margin-bottom: 70px;
            }
        }
        
        @include tablet {
            --gridColumns: 1;
        }
    }
}