.welcome {
    display: flex;
    flex-direction: column;
    row-gap: var(--section-padding-y);
    &__main {
        display: flex;
        justify-content: space-between;
    }
    &__content {
        max-width: 531px;
        display: flex;
        flex-direction: column;
        row-gap: 35px;
        align-items: start;
    }
    &__description {
        font-size: var(--fz-link);
    }
    &__partners {
        max-width: 100%;
        /*sas*/
        &-item {
            max-width: fit-content;
        }
    }
}