.field {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    &__label {
        font-size: 16px;

        @include mobile {
            font-size: 14px;
        }
    }

    &__input {
        font-size: 18px;
        padding: 18px 30px;
        border-radius: var(--b-radius-m);
        border: var(--border);
        transition: var(--trans-duration) border-color;

        &:focus {
            border-color: var(--c-main);
        }

        @include mobile {
            font-size: 16px;
        }

        &--textarea {
            @include scrollbar-hidden;

            min-height: 190px;
            resize: none;
        }
    }
}
