.header {
    padding-top: 40px;
    
    @include desktop {
        padding-top: 30px;    
    }
    @include mobile {
        padding-top: 20px;
    }

    &__logo {
        @include desktop {
            max-width: 120px;    
        }
        @include tablet {
            max-width: 110px;    
        }
        @include mobile {
            max-width: 144px;
        }
    }
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 40px;
        @include tablet {
            column-gap: 20px;
        }
    }
    &__menu {
        &-link {
           color: var(--c-black);
        }
    }
    &__button {
        @include desktop {
            height: 48px;
            padding-inline: 20px;
            font-size: 18px;
        }
        @include tablet {
            font-size: 16px;
            padding-inline: 15px;
            height: 42px;
            border-radius: var(--b-radius-s);
        }
    }
}