.team-card {
    border-radius: var(--b-radius-l);
    border: var(--border);
    box-shadow: var(--shadowDown);
    padding: 40px 35px;
    min-height: 330px;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 28px;

    &__header {
        display: flex;
        justify-content: space-between;
        column-gap: 20px;
        padding-bottom: 28px;
        border-bottom: var(--border);
    }
    &__info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    &__person {
        flex-shrink: 0;
    }
    &__title {
        @include fluid-text(18, $fz-h4);    
    }
    &__link {
        @include flex-center(true);
        @include square(34px);

        align-self: flex-end;
        border-radius: 50%;
        background-color: var(--c-dark);
    }

    &:nth-child(2n) {
        display: none;
    }
}